input[placeholder] {
  width: 388px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px;
  height: 18px;
  vertical-align: middle;
  margin-bottom: 20px;
}

.main {
  margin: 100px auto;
}

form {
  width: 388px;
  margin: 0 auto;
}

input[type="submit"] {
  background-color: #00a7de;
  border: 1px solid #0381aa;
  color: #fff;
  width: 100%;
  margin: 0 auto;
  height: 40px;
  border-radius: 2px;
}

.buttons {
  margin: 30px auto;
  width: 410px;
}

p {
  font-size: 50px;
  margin: 20px auto;
  text-align: center;
}
