<!doctype html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/style_for_index.css">
</head>

<body>

    <div class="main">
        <div class="status_bar">
            {% if login_user %}
            <li>
                <a href="#">用户：{{ login_user }}</a>
            </li>
            <li>
                <a href="{{ url_for('logout') }}">注销</a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for('login') }}">登录</a>
            </li>
            <li>
                <a href="{{ url_for('register') }}">注册</a>
            </li>
            {% endif %}
        </div>
        <div class="pic">

        </div>

        <div class="columns">
            <ul>
                <li>
                    <a>
                        首页
                    </a>
                </li>
                <li>
                    <a>
                        七嘴八舌
                    </a>
                </li>
                <li>
                    <a>
                        一画一言
                    </a>
                </li>
                <li>
                    <a>
                        我来说书
                    </a>
                </li>
                <li>
                    <a>
                        我的地盘
                    </a>
                </li>
            </ul>
        </div>
        <div class="main_body">
            <div class="home page">
                <div class="discusspart">
                    <div class="head">七嘴八舌
                        <div class="more">
                            <a>更多</a>
                        </div>
                    </div>
                    <div class="list"></div>
                </div>
                <div class="drawingpart">
                    <div class="head">一画一言
                        <div class="more">
                            <a>更多</a>
                        </div>
                    </div>
                    <div class="list"></div>
                </div>
            </div>
            <div class="discuss page">
                <div class="head">我来开个头</div>
                <div class="inputarea">
                    <input type="text">
                    <input type="button" value="撤销">
                    <input type="button" value="发布">
                </div>
                <div class="head">我来插个嘴</div>
                <div class="sort">
                    <ul class="">
                        <li>
                            <a>插嘴数量</a>
                        </li>
                        <li>
                            <a>插嘴时间</a>
                        </li>
                        <li>
                            <a>开头时间</a>
                        </li>
                    </ul>
                </div>
                <div class="list"></div>
            </div>
            <div class="drawing page"></div>
            <div class="talking page"></div>
            <div class="myplace page"></div>
        </div>
    </div>
    <script>
        //generate the content of home page
        function homepage() {
            fetch('/home', {
                method: 'GET'
            }).then(res => {
                console.log(res)
            })
        }

        function generateitem(data) {

        }
    </script>
</body>